numpy
typing
pymupdf
pdfplumber
transformers
presidio_analyzer
presidio_anonymizer
sentence_transformers
streamlit
pytest
coveralls
fitz
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
